<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建一个出c3p0数据源-->
    <bean id="dateSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql:///system_class_02"></property>
        <property name="user" value="root"></property>
        <property name="password" value="3333"></property>
    </bean>

    <!--把SqlSessionFactory交给spring容器-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dateSource"></property>
        <!--指定myBatis的核心配置文件的位置-->
        <property name="configLocation" value="classpath:sqlMapperConfig.xml"></property>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">

        <!--指定接口所在的包-->
        <property name="basePackage" value="com.yiming.dao"></property>
    </bean>

    <bean id="personService" class="com.yiming.service.impl.PersonServiceImpl">
        <property name="personDao" ref="personMapper"></property>
    </bean>
</beans>