<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiming.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.yiming.entity.Attachment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pro_fk" jdbcType="INTEGER" property="proFk" />
    <result column="attname" jdbcType="VARCHAR" property="attname" />
    <result column="attdis" jdbcType="VARCHAR" property="attdis" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="uploadtime" jdbcType="DATE" property="uploadtime" />
    <result column="updatetime" jdbcType="DATE" property="updatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pro_fk, attname, attdis, remark, path, uploadtime, updatetime
  </sql>
  <select id="selectByExample" parameterType="com.yiming.entity.AttachmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from attachment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yiming.entity.AttachmentExample">
    delete from attachment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yiming.entity.Attachment">
    insert into attachment (id, pro_fk, attname, 
      attdis, remark, path, 
      uploadtime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{proFk,jdbcType=INTEGER}, #{attname,jdbcType=VARCHAR}, 
      #{attdis,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=DATE}, #{updatetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yiming.entity.Attachment">
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="proFk != null">
        pro_fk,
      </if>
      <if test="attname != null">
        attname,
      </if>
      <if test="attdis != null">
        attdis,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="uploadtime != null">
        uploadtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="proFk != null">
        #{proFk,jdbcType=INTEGER},
      </if>
      <if test="attname != null">
        #{attname,jdbcType=VARCHAR},
      </if>
      <if test="attdis != null">
        #{attdis,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yiming.entity.AttachmentExample" resultType="java.lang.Long">
    select count(*) from attachment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update attachment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.proFk != null">
        pro_fk = #{record.proFk,jdbcType=INTEGER},
      </if>
      <if test="record.attname != null">
        attname = #{record.attname,jdbcType=VARCHAR},
      </if>
      <if test="record.attdis != null">
        attdis = #{record.attdis,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null">
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null">
        uploadtime = #{record.uploadtime,jdbcType=DATE},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update attachment
    set id = #{record.id,jdbcType=INTEGER},
      pro_fk = #{record.proFk,jdbcType=INTEGER},
      attname = #{record.attname,jdbcType=VARCHAR},
      attdis = #{record.attdis,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      path = #{record.path,jdbcType=VARCHAR},
      uploadtime = #{record.uploadtime,jdbcType=DATE},
      updatetime = #{record.updatetime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiming.entity.Attachment">
    update attachment
    <set>
      <if test="proFk != null">
        pro_fk = #{proFk,jdbcType=INTEGER},
      </if>
      <if test="attname != null">
        attname = #{attname,jdbcType=VARCHAR},
      </if>
      <if test="attdis != null">
        attdis = #{attdis,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        uploadtime = #{uploadtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiming.entity.Attachment">
    update attachment
    set pro_fk = #{proFk,jdbcType=INTEGER},
      attname = #{attname,jdbcType=VARCHAR},
      attdis = #{attdis,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      uploadtime = #{uploadtime,jdbcType=DATE},
      updatetime = #{updatetime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>